{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.bouncycastle/bcprov-jdk15on {:mvn/version "1.65.01"}
        org.bouncycastle/bcpkix-jdk15on {:mvn/version "1.65"}
        org.clojure/data.json {:mvn/version "1.0.0"}
        org.apache.httpcomponents/httpclient {:mvn/version "4.5.12"}}
 
 :aliases
 {:m {:main-opts ["-m" "mreilly.mr-acme"]}
  :ts
  {:jvm-opts
   [;;"-Djavax.net.debug=all"
    "-Djavax.net.ssl.trustStore=/home/mreilly/wa/mr-acme/keypg/keystore.p12"
    "-Djavax.net.ssl.trustStorePassword=changeit"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts ["-m" "hf.depstar.uberjar" "mracme.jar"
                        "-C" "-m" "mreilly.mracme"]}}}
